<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<th:block layout:fragment="title">
    <title>상세 페이지</title>
</th:block>

<th:block layout:fragment="content">
    <div class="page_tits">
        <h3>게시판 관리</h3>
        <p class="path"><strong>현재 위치 :</strong> <span>게시판 관리</span> <span>리스트형</span> <span>상세정보</span></p>
    </div>

    <div class="content">
        <section>
            <table class="tb tb_row">
                <colgroup>
                    <col style="width:10%;" /><col style="width:23%;" /><col style="width:10%;" /><col style="width:23%;" />
                </colgroup>
                <tbody>
                <tr>
                    <th scope="row">종목</th>
                    <td>[[ ${board.event} ]]</td>

                    <th scope="row">등록일</th>
                    <td th:text="${#temporals.format( board.createdTime, 'yyyy-MM-dd HH:mm' )}"></td>
                </tr>
                <tr>
                    <th scope="row">이름</th>
                    <td>[[ ${board.name} ]]</td>

                    <th scope="row">수정일</th>
                    <td th:text="${#temporals.format( board.modifiedTime, 'yyyy-MM-dd HH:mm' )}"></td>
                </tr>
                <tr>
                    <th scope="row">선호 발(손)</th>
                    <td>[[ ${board.preference} ]]</td>

                    <th scope="row">생일</th>
                    <td colspan="3">[[ ${board.birth} ]]</td>
                </tr>
                <tr>
                    <th scope="row">포지션</th>
                    <td>[[ ${board.location} ]]</td>

                    <th scope="row">등번호</th>
                    <td colspan="3">[[ ${board.backNo} ]]</td>
                </tr>
                <tr>
                    <th scope="row">국적</th>
                    <td>[[ ${board.nation} ]]</td>

                    <th scope="row">소속팀</th>
                    <td colspan="3">[[ ${board.team} ]]</td>
                </tr>
                <tr>
                    <th scope="row">작성자</th>
                    <td>[[ ${board.writer} ]]</td>

                    <th scope="row">등록 번호</th>
                    <td colspan="3">[[ ${board.id} ]]</td>
                </tr>
                </tbody>
            </table>
            <p class="btn_set">
                <button type="button" onclick="goWritePage();" class="btns btn_bdr4 btn_mid">수정</button>
                <button type="button" onclick="deleteBoard();" class="btns btn_bdr1 btn_mid">삭제</button>
                <button type="button" onclick="goListPage();" class="btns btn_bdr3 btn_mid">🏠</button>
            </p>
        </section>
    </div> <!--/* .content */-->
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/

        // 게시글 삭제
        function deleteBoard() {
            const id = [[ ${board.id} ]];

            if ( !confirm(id + '번 게시글을 삭제할까요?') ) {
                return false;
            }
            let inputHtml = '';

            new URLSearchParams(location.search).forEach((value, key) => {
                inputHtml +='<input type="hidden" name="${key}" value="${value}" />';
            })

            const formHtml = `
                    <form id="deleteForm" action="/board/delete.do" method="post">
                        ${inputHtml}
                    </form>
                `;
            const doc = new DOMParser().parseFromString(formHtml, 'text/html');
            const form = doc.body.firstChild;
            document.body.append(form);
            document.getElementById('deleteForm').submit();
        }

        // 게시글 수정
        function goWritePage() {
            location.href = '/board/write.do' + location.search;
        }

        // 게시글 리스트
        function goListPage() {
            const queryString = new URLSearchParams(location.search);
            queryString.delete('id');
            location.href='/board/list.do' + '?' + queryString.toString();
        }

        /*]]>*/

    </script>
</th:block>

</html>
